body {
    font-family: sans-serif;
  }
  
  #weatherApp {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  #location-input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
  }
  
  #weather-data {
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    padding: 25px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  @media (max-width: 600px) {
    #weatherApp {
      font-size: 14px;
    }
  
    #location-input {
      padding: 10px;
      font-size: 14px;
    }
  
    #weather-data {
      font-size: 14px;
      padding: 20px;
    }
  }
  